[Desktop Entry]
Name=fielddaylogger
StartupWMClass=fielddaylogger
GenericName=K6GTE Field Day Logger
Comment=Amateur Radio Communications
Exec=fielddaylogger
Icon=k6gte-FieldDay
Terminal=false
Type=Application
Categories=HamRadio;
