[Desktop Entry]
Name=fdlogger
StartupWMClass=fdlogger
GenericName=K6GTE Field Day Logger
Comment=Amateur Radio Communications
Exec=fdlogger
Icon=k6gte-fdlogger
Terminal=false
Type=Application
Categories=HamRadio;
